site_name: NLS Compiler
site_description: Natural Language Source - Write specs in English, compile to Python
site_url: https://mnehmos.github.io/mnehmos.nls.lang/
repo_url: https://github.com/Mnehmos/mnehmos.nls.lang
repo_name: mnehmos.nls.lang

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/favicon.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.instant
    - content.code.copy
    - content.code.annotate
    - search.highlight
    - search.suggest
    - toc.follow
  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/custom.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Language:
    - Specification: language-spec.md
    - Core Semantics: core-semantics.md
  - Reference:
    - CLI Commands: cli-reference.md
    - Architecture: architecture.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Mnehmos/mnehmos.nls.lang
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/nlsc/
  generator: false

copyright: Copyright &copy; 2024-2025 Mnehmos
